.container-ide {
  max-width: 1500px !important;
}

#toolbox {
  display: none;
}

.ide-info {
  line-height: 30px;
  color: #504e4e;
}

#new-variable {
  border: 2px solid #282a36;
  font-size: 2.5em;
  text-align: center;
}

#block-editor {
  background-color: #f3f3f3;
  border: 3px solid #bdbaba;
  border-radius: 14px;
}

#blokino-workspace {
  border-radius: 10px;
  border: 5px solid #282a36;
}

.blocklyTreeLabel {
  font-size: 1.7em !important;
}

.blocklyToolboxDiv {
  color: whitesmoke;
  background-color: #202020 !important;
}

.blocklyFlyout {
  background-color: #626262b8 !important;
}

.blocklyTreeRow {
  padding-top: 1em !important;
  padding-bottom: 2.5em !important;
  cursor: pointer !important;
}

.blocklyFlyoutBackground {
  fill: #1e1e1e !important;
}

.blocklyTreeRow:hover {
  color: #202020 !important;
}

.block-editor {
  height: 100vh;
  width: 100%;
}

.current-code {
  border: 3px solid antiquewhite;
}

#blokino-console-body {
  height: 12em;
  overflow: overlay;
  width: 50em;
  background: #161616;
  border: 4px solid #ccc;
}

#blokino-console-title {
  text-decoration: underline;
  color: white;
  border: 3px solid white;
  width: fit-content;
  background: #552d55;
  padding: 10px;
}

#blokino-messages {
  animation: fade 1500ms infinite;
}

.warning-message {
  color: #f3d179;
  font-size: 22px;
}

.info-message {
  color: #4a6c78;
  font-size: 22px;
}

.error-message {
  color: #c82333;
  font-size: 22px;
}

.remember-message {
  color: #236ac8;
  font-size: 22px;
}

.danger-message {
  color: #c86d23;
  font-size: 22px;
}

.initial-message {
  color: #997799;
  font-size: 22px;
}
