.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  background-color: #02080e;
  padding: 70px 50px 30px 50px;
}

.section-content {
  color: #060606;
  font-size: 25px;
}

.section-buttons-expert {
  border: 3px solid #d2d2d2;
  border-radius: 0.5em;
  text-align: center;
  background-color: #353535;
}

.list-header {
  background-color: #944e5d !important;
  color: #e1e1e1 !important;
}

.font-14 {
  font-weight: 300;
  font-size: 14px;
}

.font-16 {
  font-weight: 300;
  font-size: 16px;
}

.font-18 {
  font-weight: 300;
  font-size: 18px;
}
.font-20 {
  font-weight: 300;
  font-size: 20px;
}

.font-40 {
  font-weight: 300;
  font-size: 40px;
}

.font-50 {
  font-weight: 300;
  font-size: 50px;
}

.font-60 {
  font-weight: 300;
  font-size: 60px;
}
